 #bestBooks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel-caption {
  background-color: black;
  border-radius: 20px;
  color: white;
  max-width:100%;
  opacity: 0.9;
  }
 
.carousel {
  width: 75vw;
  height: auto
}